<ion-header>

  <ion-navbar>
    <ion-title>
      <span class="capitalize">
        {{ pokemon.name }}
      </span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- first card -->
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-12 style="text-align: center;">
            <ion-card-title>
              <strong class="capitalize">
                {{ pokemon.name }}
              </strong>
            </ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <img src="{{ pokemon.sprites.front_default }}"/>
          </ion-col>
          <ion-col col-6>
            <ion-card-content>
              <strong>Weight: </strong> {{ pokemon.weight }} <br>
              <strong>Height: </strong> {{ pokemon.height }} <br>
              <strong>Base xp: </strong> {{ pokemon.base_experience }} <br>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!-- second card -->
    <ion-card class="details-card">
      <ion-card-content>
        <!-- abilities -->
        <ion-card-title class="details-title-primary"><strong>Abilities:</strong></ion-card-title>
        <ion-list no-lines>
            <ion-item class="capitalize details-content" *ngFor="let ability of pokemon.abilities">
              {{ ability.ability.name }}
            </ion-item>
        </ion-list>
        <!-- types -->
        <ion-card-title class="details-title-secondary"><strong>Types:</strong></ion-card-title>
        <ion-list no-lines>
            <ion-item class="capitalize details-content" *ngFor="let type of pokemon.types">
              {{ type.type.name }}
            </ion-item>
        </ion-list>
        <!-- stats -->
        <ion-card-title class="details-title-primary"><strong>Stats:</strong></ion-card-title>
        <ion-list no-lines>
            <ion-item class="capitalize details-content" *ngFor="let stat of pokemon.stats">

              <ion-row>
                <ion-col col-4>
                  <span style="font-size: 130%; color:brown">
                    {{ stat.base_stat }}
                  </span>
                </ion-col>
                <ion-col col-8>
                  {{ stat.stat.name }}
                </ion-col>
              </ion-row>

            </ion-item>
        </ion-list>
        <!-- moves -->
        <ion-card-title class="details-title-secondary"><strong>Moves:</strong></ion-card-title>
        <ion-list no-lines>
            <ion-item class="capitalize details-content" *ngFor="let move of pokemon.moves">
              {{ move.move.name }}
            </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

</ion-content>
