<ion-header>

  <ion-navbar>
    <ion-title>
      <span class="capitalize">
        {{ pokemon.name }}
      </span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <img src="{{ pokemon.sprites.front_default }}"/>
          </ion-col>
          <ion-col col-6>
            <ion-card-content>
              <ion-card-title>
                <strong class="capitalize">
                  {{ pokemon.name }}
                </strong>
              </ion-card-title>
              <strong>Weight: </strong> {{ pokemon.weight }} <br>
              <strong>Types: </strong>
              <ul>
                <li class="capitalize" *ngFor="let type of pokemon.types">
                  {{ type.type.name }}
                </li>
              </ul>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-card-title>Abilities: </ion-card-title> 
        <ion-list no-lines>
            <ion-item class="capitalize" *ngFor="let ability of pokemon.abilities">
              {{ ability.ability.name }}
            </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
</ion-content>
